<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>后台登录</title>
<meta name="author" content="DeathGhost" />
<link rel="stylesheet" type="text/css" href="/css/login.css?v=20180606" />
<style>
body {
	height: 100%;
	background: #16a085;
	overflow: hidden;
}

canvas {
	z-index: -1;
	position: absolute;
}
</style>
<script src="/js/jquery.js"></script>
<script src="/js/Particleground.js"></script>
</head>
<body>
	<dl class="admin_login">
		<dt>
			<strong>站点后台管理系统</strong> <em>Management System</em>
		</dt>
		<form name="loginForm" method="POST" action="#">
			<dd class="user_icon">
				<input type="text" placeholder="账号" name="username"
					class="login_txtbx" />
			</dd>
			<dd class="pwd_icon">
				<input type="password" placeholder="密码" name="password"
					class="login_txtbx" />
			</dd>
			<dd>
				<input type="submit" id="submit" value="立即登陆" class="submit_btn" />
			</dd>
		</form>
		<dd>
			<p>© 2015-2018 DeathGhost 版权所有</p>
			<p></p>
		</dd>
	</dl>
<script>
	$(document).ready(function() {
		//粒子背景特效
		$('body').particleground({
			dotColor : '#5cbdaa',
			lineColor : '#5cbdaa'
		});
	});

	$(function() {
		$("#submit").click(
				function() {
					if (checkLogin()) {
						$.ajax({
							type : "POST",
							url : "/login",
							data: "username="+ $("input[name='username']").val() +"&password="+ $("input[name='password']").val(),
							cache : false,
							success : function(data, status) {
								if ("success" == status) {
									window.location.href = "/admin/goods/index";
								} else {
									alert(data.statusText);
								}
							},
							error: function (data, status) {
								alert(data.statusText);
							}
						})
					}
					return false;
				});

		function checkLogin() {
			if ($("input[name='username']").val() == "") {
				alert("请输入账号")
				$("input[name='username']").focus();
				return false;
			}
			if ($("input[name='password']").val() == "") {
				alert("请输入密码")
				$("input[name='password']").focus();
				return false;
			}
			return true;
		}
	});
</script>	
</body>
</html>