<#include "common/head.html">
<div class="container clearfix">
	<#include "common/menu.html">
	<div class="main-wrap">

		<div class="crumb-wrap">
			<div class="crumb-list">
				<i class="icon-font"></i><a href="index.html" color="#white">首页</a><span
					class="crumb-step">&gt;</span><span class="crumb-name">产品管理</span><span
					class="crumb-step">&gt;</span><span class="crumb-name">分类管理</span>
			</div>
		</div>

		<!-- begin -->
		<div class="result-wrap">
			<div class="result-content">
				<form method="post" id="myform" name="myform" >
					<input type="hidden" name="category_id" value="${menuDetail.category_id}" />
					<input type="hidden" name="actionurl" value="/goodscategory/save"/>
					<table class="insert-tab" width="100%">
						<tbody>
							<tr>
								<th width="120"><i class="require-red">*</i>产品类型：</th>
								<td><select name="parent_id" id="parent_id" class="required">
										<option value="0">请选择</option>
										<#list menus as menu>
										<option value="${menu.categoryId}" <#if menuDetail.parent_id == menu.categoryId > selected="selected"</#if>>${menu.categoryName}</option>
										</#list>
								</select></td>
							</tr>
							<tr>
								<th><i class="require-red">*</i>菜单名称：</th>
								<td>
								<input class="common-text required" id="category_name"
									name="category_name" size="50" value="${menuDetail.category_name}" type="text"></td>
							</tr>
							<tr>
								<th><i class="require-red"></i>简要描述：</th>
								<td>
								<textarea name="simple_describe" class="common-textarea" id="simple_describe" style="margin: 0px; width: 588px; height: 108px;">${menuDetail.simple_describe}</textarea></td>
							</tr>
							<tr>
								<th></th>
								<td><input class="btn btn-primary btn6 mr10" value="提交"
									type="button"  id="submitBtn" /> <input class="btn btn6"
									onclick="history.go(-1)" value="返回" type="button"></td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>

	</div>
	<!-- end -->
</div>
<!--/main-->
<script type="text/javascript" src="/js/goodsmenu.js"></script>
</body>
</html>