<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ccrm.admin.dao.GoodsCategoryMapper">
	<resultMap id="BaseResultMap" type="cn.ccrm.admin.entity.GoodsCategory">
		<id column="category_id" property="categoryId" jdbcType="INTEGER" />
		<result column="parent_id" property="parentId" jdbcType="INTEGER" />
		<result column="category_name" property="categoryName"
			jdbcType="VARCHAR" />
		<result column="image" property="image" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="TINYINT" />
		<result column="simple_describe" property="simpleDescribe"
			jdbcType="VARCHAR" />
		<result column="recommend" property="recommend" jdbcType="TINYINT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="admin_id" property="adminId" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		category_id, parent_id, category_name, image, state,
		simple_describe, recommend,
		create_time, update_time, admin_id
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from sys_goods_category
		where category_id =
		#{categoryId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		sys_goods_category
		where category_id = #{categoryId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="pm">
		insert into sys_goods_category
		(category_id, parent_id, category_name,
		image, state, simple_describe,
		recommend, create_time, update_time,
		admin_id)
		values (#{category_id},
		#{parent_id},
		#{category_name},
		#{image},
		#{state},
		#{simple_describe},
		#{recommend},
		#{create_time},
		#{update_time},
		#{admin_id})
	</insert>
	<insert id="insertSelective" parameterType="pm">
		insert into sys_goods_category
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="category_id != null">
				category_id,
			</if>
			<if test="parent_id != null">
				parent_id,
			</if>
			<if test="category_name != null">
				category_name,
			</if>
			<if test="image != null">
				image,
			</if>
			<if test="state != null">
				state,
			</if>
			<if test="simple_describe != null">
				simple_describe,
			</if>
			<if test="recommend != null">
				recommend,
			</if>
			<if test="create_time != null">
				create_time,
			</if>
			<if test="update_time != null">
				update_time,
			</if>
			<if test="admin_id != null">
				admin_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="category_id != null">
				#{category_id},
			</if>
			<if test="parent_id != null">
				#{parent_id},
			</if>
			<if test="category_name != null">
				#{category_name},
			</if>
			<if test="image != null">
				#{image},
			</if>
			<if test="state != null">
				#{state},
			</if>
			<if test="simple_describe != null">
				#{simple_describe},
			</if>
			<if test="recommend != null">
				#{recommend},
			</if>
			<if test="createTime != null">
				#{create_time},
			</if>
			<if test="update_time != null">
				#{update_time},
			</if>
			<if test="admin_id != null">
				#{admin_id},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="pm">
		update sys_goods_category
		<set>
			<if test="parent_id != null">
				parent_id = #{parent_id},
			</if>
			<if test="category_name != null">
				category_name = #{category_name},
			</if>
			<if test="image != null">
				image = #{image},
			</if>
			<if test="state != null">
				state = #{state},
			</if>
			<if test="simple_describe != null">
				simple_describe = #{simple_describe},
			</if>
			<if test="recommend != null">
				recommend = #{recommend},
			</if>
			<if test="create_time != null">
				create_time = #{create_time},
			</if>
			<if test="update_time != null">
				update_time = #{update_time},
			</if>
			<if test="admin_id != null">
				admin_id = #{admin_id},
			</if>
		</set>
		where category_id = #{category_id}
	</update>
	<update id="updateByPrimaryKey" parameterType="pm">
		update
		sys_goods_category
		set parent_id = #{parent_id},
		category_name =
		#{category_name},
		image = #{image},
		state = #{state},
		simple_describe =
		#{simple_describe},
		recommend = #{recommend},
		create_time =
		#{create_time},
		update_time = #{update_time},
		admin_id = #{admin_id}
		where category_id = #{category_id}
	</update>
	<select id="getAllParentMenu" resultMap="BaseResultMap">
		SELECT * from
		sys_goods_category WHERE parent_id=0 and state != 3
	</select>

	<select id="getSubMenuByParentId" parameterType="long"
		resultMap="BaseResultMap">
		SELECT * from sys_goods_category WHERE
		parent_id=#{parent_id} and state != 3
	</select>

	<select id="getMaxIdByName" resultType="long">
		SELECT max(category_id)
		as maxId from sys_goods_category
	</select>

	<update id="editMenu" parameterType="pm">
		update
		sys_goods_category
		set
		category_name=#{category_name},
		parent_id=#{parent_id},
		update_time=#{update_time},
		where
		category_id=#{category_id}
	</update>

	<select id="findMenu" parameterType="String" resultType="pm">
		select
		category_id,parent_id,category_name,state,simple_describe,recommend,admin_id
		from sys_goods_category
		where category_id=#{category_id}
	</select>
	
	<update id="delMenu" parameterType="String">
		update sys_goods_category set state = 3 where category_id=#{menuId} or parent_id=#{menuId}
	</update>

</mapper>